/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}


#index {
  background: linear-gradient(175deg, #705cb9, #43626e);
}

/* ========= Grid Layout ========= */

.layout {
  display: grid;

  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr 60px;

  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";

  min-height: 100vh;
}


header {
  grid-area: header;
  padding: 15px 50px;
  background: linear-gradient(155deg,#499ED8, #705cb9);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#logo {
  text-decoration: none;
  color: #160577;
  font-size: 1.8em;
  font-weight: 700;
}

#logo:hover {
  color: #352549;
  font-size: 2.2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.navbar a {
  text-decoration: none;
  color: #160577;
  margin-left: 25px;
  font-size: 1.1em;
  font-weight: 500;
}

.navbar a:hover {
  color: #485005;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  background: #2c3e50;
  color: #eee;
  font-size:1.1em;

  padding: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar ul {
  list-style: none;
  margin-top: 15px;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar a {
  color: #eee;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
  color: rgb(203, 216, 21);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Projects */
.projects {
  grid-area: main;

  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;

  padding: 20px;
}

/* Card */
.card {
  position: relative;
  width: 260px;
  height: 410px;;
  padding: 15px;
  border-radius: 12px;
  background: linear-gradient(175deg, #48F2BE, #9E9E9E);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: 0.3s;
  text-align: center;
}

.card img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 12px;
}

/* Badge */
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #160577;
  color: rgb(203, 216, 21);
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
}


.card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.card a:hover {
  color: #160577;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
}

/* Variants */
.featured {
  border: 2px solid #48F2BE;
}

.completed {
  border: 2px solid #9E9E9E;
}

/* Footer */
footer {
  grid-area: footer;
  background: #34495e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive */
@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "footer";
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }
}
